.div-hauptcontainer {
margin: 10px 0 0 10px;
width:100%;
float: left;

}

#ldiv-container1 {
float: both;
margin-left: 0px;
margin-top: 0px;
}

#div-container2 {
float: both;
margin-left: 0px;
margin-top: 0px;
}

.box_links, .box_rechts {
	float: left;
	margin-right: 1%;
	padding: 10px;
	background: #eee;
	box-sizing: border-box;
 }
.box_links{
	width: 20%;
}
.box_rechts{

}
.box_clear {
	clear: both; height: 0; width: 0; margin: 0;
}